In [1]:
import pandas as pd
import numpy as np

In [2]:
# from google.colab import files
# uploaded = files.upload()

books = pd.read_csv('book.csv',encoding='latin-1')
books

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [3]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   10000 non-null  int64
 1   User.ID      10000 non-null  int64
 2   Book.Title   10000 non-null  object
 3   Book.Rating  10000 non-null  int64
dtypes: int64(3), object(1)
memory usage: 312.6+ KB

In [4]:
books.columns=['unnamed','userid','booktitle','bookrating']

In [5]:
books1=books.iloc[:,1:]
books1

      userid                                          booktitle  bookrating
0     276726                                Classical Mythology           5
1     276729                                       Clara Callan           3
2     276729                               Decision in Normandy           6
3     276736  Flu: The Story of the Great Influenza Pandemic...           8
4     276737                             The Mummies of Urumchi           6
...      ...                                                ...         ...
9995  162121       American Fried: Adventures of a Happy Eater.           7
9996  162121                              Cannibal In Manhattan           9
9997  162121                    How to Flirt: A Practical Guide           7
9998  162121                                           Twilight           8
9999  162129                       Kids Say the Darndest Things           6

[10000 rows x 3 columns]

In [6]:
books1.info

<bound method DataFrame.info of       userid                                          booktitle  bookrating
0     276726                                Classical Mythology           5
1     276729                                       Clara Callan           3
2     276729                               Decision in Normandy           6
3     276736  Flu: The Story of the Great Influenza Pandemic...           8
4     276737                             The Mummies of Urumchi           6
...      ...                                                ...         ...
9995  162121       American Fried: Adventures of a Happy Eater.           7
9996  162121                              Cannibal In Manhattan           9
9997  162121                    How to Flirt: A Practical Guide           7
9998  162121                                           Twilight           8
9999  162129                       Kids Say the Darndest Things           6

[10000 rows x 3 columns]>

In [7]:
books1['userid'].value_counts()

3757      523
162052    214
2276      212
4017      156
277427    150
         ...
969         1
967         1
965         1
951         1
162129      1
Name: userid, Length: 2182, dtype: int64

In [8]:
books1['booktitle'].value_counts()

Fahrenheit 451                                              5
Charlie and the Chocolate Factory                           4
The Subtle Knife (His Dark Materials, Book 2)               4
Vanished                                                    4
Ender's Game (Ender Wiggins Saga (Paperback))               4
                                                           ..
Murder on St. Mark's Place (Gaslight Mysteries)             1
State of Grace                                              1
Valsalva's Maneuver: Mots Justes and Indispensable Terms    1
I love you, I hate you                                      1
Kids Say the Darndest Things                                1
Name: booktitle, Length: 9659, dtype: int64

In [9]:
books1.head()

   userid                                          booktitle  bookrating
0  276726                                Classical Mythology           5
1  276729                                       Clara Callan           3
2  276729                               Decision in Normandy           6
3  276736  Flu: The Story of the Great Influenza Pandemic...           8
4  276737                             The Mummies of Urumchi           6

In [10]:
books1.sort_values('userid')

      userid                                          booktitle  bookrating
2401       8                                              Wings           5
2400       8  The Western way: A practical guide to the West...           5
2399       8                            Ancient Celtic Romances           5
2402       8                                           Truckers           5
2405       8                                  The Art Of Celtia           7
...      ...                                                ...         ...
2395  278854      La crÃ³nica del PerÃº (CrÃ³nicas de AmÃ©rica)           7
2398  278854  Celtic Mythology (Library of the World's Myths...           8
2393  278854                         A corrente de Trewis Scott           7
2394  278854                                      As valkÃ­rias           7
2397  278854     A Treasury of Irish Myth, Legend, and Folklore           6

[10000 rows x 3 columns]

In [11]:
len(books1.userid.unique())

2182

In [12]:
books1[books1.duplicated()]

      userid                  booktitle  bookrating
5051    2152  Le nouveau soleil de Teur           7
7439    3757        The Magician's Tale           7

In [13]:
books2=books1.drop_duplicates()
books2

      userid                                          booktitle  bookrating
0     276726                                Classical Mythology           5
1     276729                                       Clara Callan           3
2     276729                               Decision in Normandy           6
3     276736  Flu: The Story of the Great Influenza Pandemic...           8
4     276737                             The Mummies of Urumchi           6
...      ...                                                ...         ...
9995  162121       American Fried: Adventures of a Happy Eater.           7
9996  162121                              Cannibal In Manhattan           9
9997  162121                    How to Flirt: A Practical Guide           7
9998  162121                                           Twilight           8
9999  162129                       Kids Say the Darndest Things           6

[9998 rows x 3 columns]

In [14]:
books2[books2.duplicated()]

Empty DataFrame
Columns: [userid, booktitle, bookrating]
Index: []

In [15]:
len(books2.booktitle.unique())

9659

In [16]:
len(books1.userid)

10000

In [17]:
len(books2.userid)

9998

In [18]:
books2.columns

Index(['userid', 'booktitle', 'bookrating'], dtype='object')

In [19]:
books3=books2.reset_index()
books3

,index,userid,booktitle,bookrating
0,0,276726,Classical Mythology,5
1,1,276729,Clara Callan,3
2,2,276729,Decision in Normandy,6
3,3,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,4,276737,The Mummies of Urumchi,6
...,...,...,...,...
9993,9995,162121,American Fried: Adventures of a Happy Eater.,7
9994,9996,162121,Cannibal In Manhattan,9
9995,9997,162121,How to Flirt: A Practical Guide,7
9996,9998,162121,Twilight,8
9997,9999,162129,Kids Say the Darndest Things,6

In [20]:
#books3.columns

In [21]:
books1_df = books2.pivot_table(index='userid',
                        columns='booktitle',
                        values='bookrating').reset_index()
books1_df

booktitle,userid,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
2180,278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#books1_df = books2.pivot(index='userid',
                        #columns='booktitle',
                        #values='bookrating')
#books1_df

In [23]:
books1_df.info

<bound method DataFrame.info of booktitle  userid   Jason, Madison &amp  \
0               8                   NaN
1               9                   NaN
2              10                   NaN
3              12                   NaN
4              14                   NaN
...           ...                   ...
2177       278846                   NaN
2178       278849                   NaN
2179       278851                   NaN
2180       278852                   NaN
2181       278854                   NaN

booktitle   Other Stories;Merril;1985;McClelland &amp  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
...                                               ...
2177                                              NaN
2178                                              NaN
2179                                              NaN
2180                                              NaN
2181                                              NaN

booktitle   Repairing PC Drives &amp  '48  \
0                                NaN  NaN
1                                NaN  NaN
2                                NaN  NaN
3                                NaN  NaN
4                                NaN  NaN
...                              ...  ...
2177                             NaN  NaN
2178                             NaN  NaN
2179                             NaN  NaN
2180                             NaN  NaN
2181                             NaN  NaN

booktitle  'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities  \
0                                                        NaN
1                                                        NaN
2                                                        NaN
3                                                        NaN
4                                                        NaN
...                                                      ...
2177                                                     NaN
2178                                                     NaN
2179                                                     NaN
2180                                                     NaN
2181                                                     NaN

booktitle  ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR  \
0                                                        NaN
1                                                        NaN
2                                                        NaN
3                                                        NaN
4                                                        NaN
...                                                      ...
2177                                                     NaN
2178                                                     NaN
2179                                                     NaN
2180                                                     NaN
2181                                                     NaN

booktitle  01-01-00: A Novel of the Millennium  \
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
...                                        ...
2177                                       NaN
2178                                       NaN
2179                                       NaN
2180                                       NaN
2181                                       NaN

booktitle  1,401 More Things That P*Ss Me Off  10 Commandments Of Dating  ...  \
0                                         NaN                        NaN  ...
1                                         NaN                        NaN  ...
2                                         NaN                        NaN  ...
3                                         NaN                        NaN  ...
4                                         NaN                        NaN  ...
...                                       ...                        ...  ...
2177                                      NaN                        NaN  ...
2178                                      NaN                        NaN  ...
2179                                      NaN                        NaN  ...
2180                                      NaN                        NaN  ...
2181                                      NaN                        NaN  ...

booktitle  Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)  \
0                                                        NaN
1                                                        NaN
2                                                        NaN
3                                                        NaN
4                                                        NaN
...                                                      ...
2177                                                     NaN
2178                                                     NaN
2179                                                     NaN
2180                                                     NaN
2181                                                     NaN

booktitle  \Even Monkeys Fall from Trees\ and Other Japanese Proverbs  \
0                                                        NaN
1                                                        NaN
2                                                        NaN
3                                                        NaN
4                                                        NaN
...                                                      ...
2177                                                     NaN
2178                                                     NaN
2179                                                     NaN
2180                                                     NaN
2181                                                     NaN

booktitle  \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment  \
0                                                        NaN
1                                                        NaN
2                                                        NaN
3                                                        NaN
4                                                        NaN
...                                                      ...
2177                                                     NaN
2178                                                     NaN
2179                                                     NaN
2180                                                     NaN
2181                                                     NaN

booktitle  \More More More,\ Said the Baby  \O\ Is for Outlaw  \
0                                      NaN                NaN
1                                      NaN                NaN
2                                      NaN                NaN
3                                      NaN                NaN
4                                      NaN                NaN
...                                    ...                ...
2177                                   NaN                NaN
2178                                   NaN                NaN
2179                                   NaN                NaN
2180                                   NaN                NaN
2181                                   NaN                NaN

booktitle  \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character  \
0                                                        NaN
1                                                        NaN
2                                                        NaN
3                                                        NaN
4                                                        NaN
...                                                      ...
2177                                                     NaN
2178                                                     NaN
2179                                                     NaN
2180                                                     NaN
2181                                                     NaN

booktitle  \Well, there's your problem\: Cartoons  iI Paradiso Degli Orchi  \
0                                             NaN                      NaN
1                                             NaN                      NaN
2                                             NaN                      NaN
3                                             NaN                      NaN
4                                             NaN                      NaN
...                                           ...                      ...
2177                                          NaN                      NaN
2178                                          NaN                      NaN
2179                                          NaN                      7.0
2180                                          NaN                      NaN
2181                                          NaN                      NaN

booktitle  stardust  Ã?Â?bermorgen.
0               NaN             NaN
1               NaN             NaN
2               NaN             NaN
3               NaN             NaN
4               NaN             NaN
...             ...             ...
2177            NaN             NaN
2178            NaN             NaN
2179            NaN             NaN
2180            NaN             NaN
2181            NaN             NaN

[2182 rows x 9660 columns]>

In [24]:
books1_df.fillna(0,inplace=True)

In [25]:
books1_df

booktitle,userid,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
0,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2178,278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2179,278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
2180,278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2181,278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [27]:
user_sim = 1-pairwise_distances(books1_df.values,metric='cosine')

In [28]:
user_sim

array([[1.        , 0.39429125, 0.40634798, ..., 0.4738791 , 0.4738791 ,
        0.4738791 ],
       [0.39429125, 1.        , 0.71347724, ..., 0.83205029, 0.83205029,
        0.83205029],
       [0.40634798, 0.71347724, 1.        , ..., 0.85749292, 0.85749293,
        0.85749292],
       ...,
       [0.4738791 , 0.83205029, 0.85749292, ..., 1.        , 1.        ,
        0.99999999],
       [0.4738791 , 0.83205029, 0.85749293, ..., 1.        , 1.        ,
        1.        ],
       [0.4738791 , 0.83205029, 0.85749292, ..., 0.99999999, 1.        ,
        1.        ]])

In [29]:
user_sim.shape

(2182, 2182)

In [30]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)
user_sim_df.iloc[0:25,0:25]

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1.000000,0.394291,0.406348,0.364044,0.395067,0.413021,0.398829,0.444661,0.451572,0.420872,...,0.455894,0.464352,0.471070,0.471314,0.468546,0.469116,0.472771,0.472830,0.471406,0.472979
1,0.394291,1.000000,0.713477,0.639199,0.693670,0.725195,0.700275,0.780749,0.792882,0.738980,...,0.800472,0.815323,0.827118,0.827546,0.822686,0.823688,0.830105,0.830207,0.827708,0.830470
2,0.406348,0.713477,1.000000,0.658744,0.714881,0.747370,0.721688,0.804623,0.817127,0.761576,...,0.824949,0.840254,0.852409,0.852851,0.847842,0.848875,0.855489,0.855594,0.853018,0.855864
3,0.364044,0.639199,0.658744,1.000000,0.640457,0.669563,0.646555,0.720855,0.732058,0.682290,...,0.739065,0.752777,0.763667,0.764063,0.759575,0.760500,0.766426,0.766520,0.764212,0.766762
4,0.395067,0.693670,0.714881,0.640457,1.000000,0.726622,0.701653,0.782285,0.794443,0.740434,...,0.802047,0.816927,0.828746,0.829175,0.824305,0.825309,0.831739,0.831841,0.829337,0.832104
5,0.413021,0.725195,0.747370,0.669563,0.726622,1.000000,0.733540,0.817837,0.830547,0.774084,...,0.838497,0.854053,0.866409,0.866857,0.861767,0.862816,0.869538,0.869645,0.867027,0.869920
6,0.398829,0.700275,0.721688,0.646555,0.701653,0.733540,1.000000,0.789733,0.802007,0.747484,...,0.809684,0.824705,0.836636,0.837069,0.832154,0.833167,0.839658,0.839761,0.837233,0.840027
7,0.444661,0.780749,0.804623,0.720855,0.782285,0.817837,0.789733,1.000000,0.894171,0.833383,...,0.902731,0.919479,0.932780,0.933263,0.927783,0.928912,0.936150,0.936265,0.933446,0.936560
8,0.451572,0.792882,0.817127,0.732058,0.794443,0.830547,0.802007,0.894171,1.000000,0.846334,...,0.916760,0.933768,0.947277,0.947767,0.942201,0.943348,0.950698,0.950815,0.947953,0.951115
9,0.420872,0.738980,0.761576,0.682290,0.740434,0.774084,0.747484,0.833383,0.846334,1.000000,...,0.854436,0.870288,0.882878,0.883335,0.878148,0.879217,0.886067,0.886176,0.883508,0.886456
10,0.459730,0.807207,0.831890,0.745284,0.808796,0.845552,0.816497,0.910327,0.924474,0.861625,...,0.933323,0.950639,0.964391,0.964891,0.959224,0.960392,0.967875,0.967994,0.965080,0.968299
11,0.457200,0.802765,0.827312,0.741182,0.804344,0.840899,0.812003,0.905316,0.919386,0.856883,...,0.928186,0.945406,0.959083,0.959580,0.953945,0.955106,0.962548,0.962666,0.959768,0.962970
12,0.467431,0.820729,0.845826,0.757769,0.822345,0.859717,0.830174,0.925576,0.939960,0.876059,...,0.948958,0.966563,0.980546,0.981054,0.975293,0.976480,0.984088,0.984209,0.981246,0.984520
13,0.466235,0.818629,0.843661,0.755830,0.820240,0.857517,0.828050,0.923208,0.937555,0.873817,...,0.946530,0.964090,0.978037,0.978544,0.972797,0.973982,0.981570,0.981691,0.978736,0.982001
14,0.466668,0.819389,0.844445,0.756532,0.821002,0.858313,0.828819,0.924065,0.938426,0.874629,...,0.947409,0.964985,0.978945,0.979452,0.973701,0.974886,0.982482,0.982602,0.979644,0.982913
15,0.455894,0.800472,0.824949,0.739065,0.802047,0.838497,0.809684,0.902731,0.916760,0.854436,...,1.000000,0.942706,0.956344,0.956839,0.951220,0.952378,0.959799,0.959917,0.957027,0.960220
16,0.464352,0.815323,0.840254,0.752777,0.816927,0.854053,0.824705,0.919479,0.933768,0.870288,...,0.942706,1.000000,0.974087,0.974591,0.968868,0.970047,0.977605,0.977726,0.974782,0.978034
17,0.471070,0.827118,0.852409,0.763667,0.828746,0.866409,0.836636,0.932780,0.947277,0.882878,...,0.956344,0.974087,1.000000,0.988690,0.982884,0.984081,0.991748,0.991870,0.988884,0.992183
18,0.471314,0.827546,0.852851,0.764063,0.829175,0.866857,0.837069,0.933263,0.947767,0.883335,...,0.956839,0.974591,0.988690,1.000000,0.983393,0.984590,0.992262,0.992384,0.989396,0.992697
19,0.468546,0.822686,0.847842,0.759575,0.824305,0.861767,0.832154,0.927783,0.942201,0.878148,...,0.951220,0.968868,0.982884,0.983393,1.000000,0.978808,0.986435,0.986556,0.983586,0.986867
20,0.469116,0.823688,0.848875,0.760500,0.825309,0.862816,0.833167,0.928912,0.943348,0.879217,...,0.952378,0.970047,0.984081,0.984590,0.978808,1.000000,0.987636,0.987757,0.984783,0.988069
21,0.472771,0.830105,0.855489,0.766426,0.831739,0.869538,0.839658,0.936150,0.950698,0.886067,...,0.959799,0.977605,0.991748,0.992262,0.986435,0.987636,1.000000,0.995453,0.992456,0.995767
22,0.472830,0.830207,0.855594,0.766520,0.831841,0.869645,0.839761,0.936265,0.950815,0.886176,...,0.959917,0.977726,0.991870,0.992384,0.986556,0.987757,0.995453,1.000000,0.992578,0.995890
23,0.471406,0.827708,0.853018,0.764212,0.829337,0.867027,0.837233,0.933446,0.947953,0.883508,...,0.957027,0.974782,0.988884,0.989396,0.983586,0.984783,0.992456,0.992578,1.000000,0.992892
24,0.472979,0.830470,0.855864,0.766762,0.832104,0.869920,0.840027,0.936560,0.951115,0.886456,...,0.960220,0.978034,0.992183,0.992697,0.986867,0.988069,0.995767,0.995890,0.992892,1.000000

In [31]:
#Set the index and column names to user ids 
user_sim_df.index = books3.userid.unique()
user_sim_df.columns = books3.userid.unique()

In [32]:
user_sim_df.iloc[0:15, 0:15]

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754,276755,276760,276762,276768,276772
276726,1.000000,0.394291,0.406348,0.364044,0.395067,0.413021,0.398829,0.444661,0.451572,0.420872,0.459730,0.457200,0.467431,0.466235,0.466668
276729,0.394291,1.000000,0.713477,0.639199,0.693670,0.725195,0.700275,0.780749,0.792882,0.738980,0.807207,0.802765,0.820729,0.818629,0.819389
276736,0.406348,0.713477,1.000000,0.658744,0.714881,0.747370,0.721688,0.804623,0.817127,0.761576,0.831890,0.827312,0.845826,0.843661,0.844445
276737,0.364044,0.639199,0.658744,1.000000,0.640457,0.669563,0.646555,0.720855,0.732058,0.682290,0.745284,0.741182,0.757769,0.755830,0.756532
276744,0.395067,0.693670,0.714881,0.640457,1.000000,0.726622,0.701653,0.782285,0.794443,0.740434,0.808796,0.804344,0.822345,0.820240,0.821002
276745,0.413021,0.725195,0.747370,0.669563,0.726622,1.000000,0.733540,0.817837,0.830547,0.774084,0.845552,0.840899,0.859717,0.857517,0.858313
276747,0.398829,0.700275,0.721688,0.646555,0.701653,0.733540,1.000000,0.789733,0.802007,0.747484,0.816497,0.812003,0.830174,0.828050,0.828819
276748,0.444661,0.780749,0.804623,0.720855,0.782285,0.817837,0.789733,1.000000,0.894171,0.833383,0.910327,0.905316,0.925576,0.923208,0.924065
276751,0.451572,0.792882,0.817127,0.732058,0.794443,0.830547,0.802007,0.894171,1.000000,0.846334,0.924474,0.919386,0.939960,0.937555,0.938426
276754,0.420872,0.738980,0.761576,0.682290,0.740434,0.774084,0.747484,0.833383,0.846334,1.000000,0.861625,0.856883,0.876059,0.873817,0.874629
276755,0.459730,0.807207,0.831890,0.745284,0.808796,0.845552,0.816497,0.910327,0.924474,0.861625,1.000000,0.935996,0.956943,0.954494,0.955380
276760,0.457200,0.802765,0.827312,0.741182,0.804344,0.840899,0.812003,0.905316,0.919386,0.856883,0.935996,1.000000,0.951676,0.949241,0.950122
276762,0.467431,0.820729,0.845826,0.757769,0.822345,0.859717,0.830174,0.925576,0.939960,0.876059,0.956943,0.951676,1.000000,0.970483,0.971385
276768,0.466235,0.818629,0.843661,0.755830,0.820240,0.857517,0.828050,0.923208,0.937555,0.873817,0.954494,0.949241,0.970483,1.000000,0.968899
276772,0.466668,0.819389,0.844445,0.756532,0.821002,0.858313,0.828819,0.924065,0.938426,0.874629,0.955380,0.950122,0.971385,0.968899,1.000000

In [33]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:15, 0:15]

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754,276755,276760,276762,276768,276772
276726,0.000000,0.394291,0.406348,0.364044,0.395067,0.413021,0.398829,0.444661,0.451572,0.420872,0.459730,0.457200,0.467431,0.466235,0.466668
276729,0.394291,0.000000,0.713477,0.639199,0.693670,0.725195,0.700275,0.780749,0.792882,0.738980,0.807207,0.802765,0.820729,0.818629,0.819389
276736,0.406348,0.713477,0.000000,0.658744,0.714881,0.747370,0.721688,0.804623,0.817127,0.761576,0.831890,0.827312,0.845826,0.843661,0.844445
276737,0.364044,0.639199,0.658744,0.000000,0.640457,0.669563,0.646555,0.720855,0.732058,0.682290,0.745284,0.741182,0.757769,0.755830,0.756532
276744,0.395067,0.693670,0.714881,0.640457,0.000000,0.726622,0.701653,0.782285,0.794443,0.740434,0.808796,0.804344,0.822345,0.820240,0.821002
276745,0.413021,0.725195,0.747370,0.669563,0.726622,0.000000,0.733540,0.817837,0.830547,0.774084,0.845552,0.840899,0.859717,0.857517,0.858313
276747,0.398829,0.700275,0.721688,0.646555,0.701653,0.733540,0.000000,0.789733,0.802007,0.747484,0.816497,0.812003,0.830174,0.828050,0.828819
276748,0.444661,0.780749,0.804623,0.720855,0.782285,0.817837,0.789733,0.000000,0.894171,0.833383,0.910327,0.905316,0.925576,0.923208,0.924065
276751,0.451572,0.792882,0.817127,0.732058,0.794443,0.830547,0.802007,0.894171,0.000000,0.846334,0.924474,0.919386,0.939960,0.937555,0.938426
276754,0.420872,0.738980,0.761576,0.682290,0.740434,0.774084,0.747484,0.833383,0.846334,0.000000,0.861625,0.856883,0.876059,0.873817,0.874629
276755,0.459730,0.807207,0.831890,0.745284,0.808796,0.845552,0.816497,0.910327,0.924474,0.861625,0.000000,0.935996,0.956943,0.954494,0.955380
276760,0.457200,0.802765,0.827312,0.741182,0.804344,0.840899,0.812003,0.905316,0.919386,0.856883,0.935996,0.000000,0.951676,0.949241,0.950122
276762,0.467431,0.820729,0.845826,0.757769,0.822345,0.859717,0.830174,0.925576,0.939960,0.876059,0.956943,0.951676,0.000000,0.970483,0.971385
276768,0.466235,0.818629,0.843661,0.755830,0.820240,0.857517,0.828050,0.923208,0.937555,0.873817,0.954494,0.949241,0.970483,0.000000,0.968899
276772,0.466668,0.819389,0.844445,0.756532,0.821002,0.858313,0.828819,0.924065,0.938426,0.874629,0.955380,0.950122,0.971385,0.968899,0.000000

In [34]:
#Most Similar Users
user_sim_df.idxmax(axis=1)[0:50]

276726    161995
276729    161995
276736    161995
276737    161995
276744    161995
276745    161995
276747    161995
276748    161677
276751    161995
276754    161995
276755    161995
276760    161995
276762    161995
276768    161995
276772    161995
276774    278543
276780    161995
276786    161995
276788    161995
276796    161995
276798    161995
276800    161995
276804    161995
276808    161995
276811    161995
276812    161995
276813      3546
276814    161995
276820      3462
276822    161995
276827    161995
276828    161995
276830    161995
276832    161995
276835    161995
276837    161995
276842    161995
276847    161995
276848    161995
276850    161995
276853    161995
276854    161995
276857    161995
276859    161995
276861    161995
276862    161995
276863    161995
276866    161995
276870    161995
276872    161995
dtype: int64

In [35]:
user_sim_df.loc[276729,161995]

0.8320502943324898

In [36]:
books3[(books3['userid']==276729) | (books3['userid']==161995)]

,index,userid,booktitle,bookrating
1,1,276729,Clara Callan,3
2,2,276729,Decision in Normandy,6
9655,9657,161995,Peder Victorious: A Tale of the Pioneers Twent...,5
9656,9658,161995,The Lazarus Project: A Novel,8
9657,9659,161995,The Call of the Isles,5
9658,9660,161995,Deadlock,5

In [37]:
user_1=books3[books3['userid']==276729]
user_1

   index  userid             booktitle  bookrating
1      1  276729          Clara Callan           3
2      2  276729  Decision in Normandy           6

In [38]:
user_2=books3[books3['userid']==161995]
user_2

,index,userid,booktitle,bookrating
9655,9657,161995,Peder Victorious: A Tale of the Pioneers Twent...,5
9656,9658,161995,The Lazarus Project: A Novel,8
9657,9659,161995,The Call of the Isles,5
9658,9660,161995,Deadlock,5

In [39]:
user_2.booktitle

9655    Peder Victorious: A Tale of the Pioneers Twent...
9656                         The Lazarus Project: A Novel
9657                                The Call of the Isles
9658                                             Deadlock
Name: booktitle, dtype: object

In [40]:
user_1.booktitle

1            Clara Callan
2    Decision in Normandy
Name: booktitle, dtype: object

In [41]:
book_read_by_user1 = list(set(user_1.booktitle))
book_read_by_user2 = list(set(user_2.booktitle))

for book_name in book_read_by_user1:
  if book_name not in book_read_by_user2:
    print("Recommendation : ", book_name)

Recommendation :  Clara Callan
Recommendation :  Decision in Normandy

In [42]:
book_read_by_user1 = list(set(user_1.booktitle))
book_read_by_user2 = list(set(user_2.booktitle))

for book_name in book_read_by_user2:
  if book_name not in book_read_by_user1:
    print("Recommendation : ", book_name)

Recommendation :  Peder Victorious: A Tale of the Pioneers Twenty Years Later
Recommendation :  Deadlock
Recommendation :  The Lazarus Project: A Novel
Recommendation :  The Call of the Isles